/* Change page layout */

:root {
	--content-max-width: 810px;
}

/* Always show spacer */

.chapter .spacer {
	margin-top: 8.4px;
	width: calc(var(--sidebar-width) - 20px);	/* from .sidebar-scrollbox padding */
}

.chapter .section .spacer {
	margin-left: -20px;	/* from .section padding-left */
	margin-bottom: 0px;
}

.chapter li:not(.expanded) + li > ol {
	display: block !important;
}

.chapter li:not(.expanded) + li > ol :not(.spacer) {
	display: none;
}

/* Change light theme foreground colors */

.light {
	--fg: #404040;
	--sidebar-active: var(--icons-hover);
	--sidebar-fg: var(--fg);
	--searchbar-fg: var(--fg);
}

.chapter li a.active > strong {
	color: var(--sidebar-fg);
}

.chapter li a.active {
	font-weight: 600;
}

.chapter li a.active > strong {
	font-weight: bold;
}

/* Customize the fold symbol */

.chapter li > a.toggle div {
	display: none;
}

.chapter li > a.toggle::after {
	display: inline-block;
	content: "›";
	font-weight: bold;
	font-size: 1.5em;
}

.chapter li.expanded > a.toggle::after {
	transform: translate(0.145em, 0.2em) rotate(90deg);
}
